# Schools Analytics

This analysis is based on data collected from education statistics published by the ministry of education in Rwanda each year. <br> The data used today was taken from Rwanda Education Statistics, published yearly by MINEDUC. <br>
This data was collected from 2016 and 2017 publications. 
Data wrangling for this dataset has been done as part of another project. which was undocumented.

### Dataset description

the dataset has the following features: 
* Level: describe the type of school. unique values are Nursery , Primary, secondary and TVET 1&2
* district, its describe the number of schools, pupils, level for the given district
* province: the province the district belongs to
* schools_16 : describe the number of schools in a particular level in the given district in 2016
* pupils_16: describe the number of pupils in a given level for a district in 2016
* schools_17 : describe the number of schools in a particular level in the given district in 2017
* pupils_17: describe the number of pupils in a given level for a district in 2017

###  Analysis Questions

1. Rank provinces by the numbers of schools in 2016, which provinces had the most schools in 2016? 
2. Was the tendency the same in 2017? which provinces had the most changes? either in number of schools or number of pupils? 
3. which district has the most nursery schools?
4. which district has the most primary schools?
5. which district has the most secondary schools?
6. which district has the most  TVET schools? 
7. which district has the most students?  (selector for level and district)
8. what is the distribution of Nursery schools on map? (drop down for levels)

### Imports

In [18]:
import pandas as pd
import seaborn as sb
import plotly.graph_objs as go
import plotly.offline as pyo
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

### Importing Data

In [27]:
df = pd.read_csv('schools1617.csv')
df.tail()

,N,level,district,province,schools_16,pupils_2016,schools_17,pupils_17
115,116,TVET level 1&2,Rulindo,north,5,30,6,57
116,117,TVET level 1&2,Gasabo,kigali city,6,146,11,126
117,118,TVET level 1&2,Kicukiro,kigali city,17,158,16,192
118,119,TVET level 1&2,Nyarugenge,kigali city,4,41,7,90
119,Total,NaN,NaN,NaN,7292,3205557,7544,3202093

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
N              120 non-null object
level          119 non-null object
district       119 non-null object
province       119 non-null object
schools_16     120 non-null int64
pupils_2016    120 non-null int64
schools_17     120 non-null int64
pupils_17      120 non-null int64
dtypes: int64(4), object(4)
memory usage: 7.6+ KB

In [4]:
df.level.unique()

array(['Nursery', 'Primary', 'Secondary School', 'TVET level 1&2', nan],
      dtype=object)

### Grouping Data by Provinces

#### South Province

In [5]:
south_df = df.query('province=="south"')
south_df.sample()

,N,level,district,province,schools_16,pupils_2016,schools_17,pupils_17
64,65,Secondary School,Nyanza,south,48,18284,48,19835

#### North Province

In [6]:
north_df = df.query('province=="north"')
north_df.sample()

,N,level,district,province,schools_16,pupils_2016,schools_17,pupils_17
26,27,Nursery,Rulindo,north,90,7376,97,7490

#### East Province

In [7]:
east_df = df.query('province=="east"')
east_df.sample()

,N,level,district,province,schools_16,pupils_2016,schools_17,pupils_17
49,50,Primary,Nyagatare,east,149,120817,158,116503

#### West Province

In [8]:
west_df = df.query('province=="west"')
west_df.sample()

,N,level,district,province,schools_16,pupils_2016,schools_17,pupils_17
68,69,Secondary School,Ngororero,west,49,13579,49,15160

### Numbers of Schools By Provinces

In [9]:
south_df.head()

,N,level,district,province,schools_16,pupils_2016,schools_17,pupils_17
0,1,Nursery,Gisagara,south,32,2358,41,3358
1,2,Nursery,Huye,south,101,6067,92,7333
2,3,Nursery,Kamonyi,south,75,5389,118,9487
3,4,Nursery,Muhanga,south,114,7009,139,9638
4,5,Nursery,Nyamagabe,south,78,5975,87,6607

### Number of schools and Pupils (2016 and 2017)- South

In [10]:
south_pupils_17 = south_df['pupils_17'].sum()
south_pupils_16 = south_df['pupils_2016'].sum()
south_schools_16 = south_df['schools_16'].sum()
south_schools_17 = south_df['schools_17'].sum()
south_pupils_17, south_pupils_16, south_schools_16, south_schools_17

(747529, 737613, 1725, 1827)

### Number of Schools and pupils (2016 and 2017) - North Province

In [11]:
north_pupils_17 = north_df['pupils_17'].sum()
north_pupils_16 = north_df['pupils_2016'].sum()
north_schools_16 = north_df['schools_16'].sum()
north_schools_17 = north_df['schools_17'].sum()
north_pupils_17, north_pupils_16, north_schools_16, north_schools_17

(557736, 556927, 1420, 1453)

### Number of Schools and Pupils (2016 and 2017)- East Province

In [12]:
east_pupils_17 = east_df['pupils_17'].sum()
east_pupils_16 = east_df['pupils_2016'].sum()
east_schools_16 = east_df['schools_16'].sum()
east_schools_17 = east_df['schools_17'].sum()
east_pupils_17, east_pupils_16, east_schools_16, east_schools_17

(788404, 841930, 1673, 1751)

### Number of Schools and Pupils (2016 and 2017) - West Province

In [13]:
west_pupils_17 = west_df['pupils_17'].sum()
west_pupils_16 = west_df['pupils_2016'].sum()
west_schools_16 = west_df['schools_16'].sum()
west_schools_17 = west_df['schools_17'].sum()
west_pupils_17, west_pupils_16, west_schools_16, west_schools_17

(823300, 795776, 1853, 1843)

In [14]:
south_nursery_df = south_df.query('level=="Nursery"')
south_nursery_df

,N,level,district,province,schools_16,pupils_2016,schools_17,pupils_17
0,1,Nursery,Gisagara,south,32,2358,41,3358
1,2,Nursery,Huye,south,101,6067,92,7333
2,3,Nursery,Kamonyi,south,75,5389,118,9487
3,4,Nursery,Muhanga,south,114,7009,139,9638
4,5,Nursery,Nyamagabe,south,78,5975,87,6607
5,6,Nursery,Nyanza,south,85,7533,86,7169
6,7,Nursery,Nyaruguru,south,46,2951,58,4002
7,8,Nursery,Ruhango,south,74,4253,76,4976

### Numbers of Schools by Provinces

In [26]:
import plotly.offline as pyo
import plotly.graph_objs as go

df= pd.read_csv('2018WinterOlympics.csv')

print(df)

trace1 = go.Bar(x=df['NOC'], y=df['Gold'],
                name='Gold', marker={'color': '#FFD700'})

trace2 = go.Bar(x=df['NOC'], y=df['Silver'],
                name='Silver', marker={'color': '#9EA0A1'})

trace3 = go.Bar(x=df['NOC'], y=df['Bronze'],
                name='Bronze', marker={'color': '#CD7F32'})

data = [trace1, trace2, trace3]

layout = go.Layout(title='Medals', barmode='stack')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [35]:
import plotly.offline as pyo
import plotly.graph_objs as go


west_pupils_17, west_pupils_16, west_schools_16, west_schools_17
east_pupils_17, east_pupils_16, east_schools_16, east_schools_17
north_pupils_17, north_pupils_16, north_schools_16, north_schools_17
south_pupils_17, south_pupils_16, south_schools_16, south_schools_17

y = [south_schools_17, north_schools_17, east_schools_17, west_schools_17]

x = ["south", "North", "East", "west"]

trace1 = go.Bar(x= x, y= y,
                name='Gold', marker={'color': '#FFD700'})

data = [trace1]

layout = go.Layout(title='Numbers of Schools By Provinces (2016)', barmode='stack')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'