# Schools Analytics

This analysis is based on data collected from education statistics published by the ministry of education in Rwanda each year. <br> The data used today was taken from Rwanda Education Statistics, published yearly by MINEDUC. <br>
This data was collected from 2016 and 2017 publications. 
Data wrangling for this dataset has been done as part of another project. which was undocumented.

### Dataset description

the dataset has the following features: 
* Level: describe the type of school. unique values are Nursery , Primary, secondary and TVET 1&2
* district, its describe the number of schools, pupils, level for the given district
* province: the province the district belongs to
* schools_16 : describe the number of schools in a particular level in the given district in 2016
* pupils_16: describe the number of pupils in a given level for a district in 2016
* schools_17 : describe the number of schools in a particular level in the given district in 2017
* pupils_17: describe the number of pupils in a given level for a district in 2017

###  Analysis Questions

1. Rank provinces by the numbers of schools in 2016, which provinces had the most schools in 2016? 
2. Was the tendency the same in 2017? which provinces had the most changes? either in number of schools or number of pupils? 
3. which district has the most nursery schools?
4. which district has the most primary schools?
5. which district has the most secondary schools?
6. which district has the most  TVET schools? 
7. which district has the most students?  (selector for level and district)
8. what is the distribution of Nursery schools on map? (drop down for levels)

In [19]:
import pandas as pd
import seaborn as sb

In [45]:
df = pd.read_csv('schools1617.csv')
df.tail()

,N,level,district,province,schools_16,pupils_2016,schools_17,pupils_17
115,116,TVET level 1&2,Rulindo,north,5,30,6,57
116,117,TVET level 1&2,Gasabo,kigali city,6,146,11,126
117,118,TVET level 1&2,Kicukiro,kigali city,17,158,16,192
118,119,TVET level 1&2,Nyarugenge,kigali city,4,41,7,90
119,Total,NaN,NaN,NaN,7292,3205557,7544,3202093

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
N              120 non-null object
level          119 non-null object
district       119 non-null object
province       119 non-null object
schools_16     120 non-null int64
pupils_2016    120 non-null int64
schools_17     120 non-null int64
pupils_17      120 non-null int64
dtypes: int64(4), object(4)
memory usage: 7.6+ KB

In [47]:
df.level.unique()

array(['Nursery', 'Primary', 'Secondary School', 'TVET level 1&2', nan],
      dtype=object)

In [48]:
south_nursery_df = df.query('level=="Nursery" & province=="south"')
south_nursery_df

,N,level,district,province,schools_16,pupils_2016,schools_17,pupils_17
0,1,Nursery,Gisagara,south,32,2358,41,3358
1,2,Nursery,Huye,south,101,6067,92,7333
2,3,Nursery,Kamonyi,south,75,5389,118,9487
3,4,Nursery,Muhanga,south,114,7009,139,9638
4,5,Nursery,Nyamagabe,south,78,5975,87,6607
5,6,Nursery,Nyanza,south,85,7533,86,7169
6,7,Nursery,Nyaruguru,south,46,2951,58,4002
7,8,Nursery,Ruhango,south,74,4253,76,4976

In [49]:
south_pupils_17 = south_nursery_df['pupils_17'].sum()
south_pupils_16 = south_nursery_df['pupils_2016'].sum()
south_pupils_17, south_pupils_16

(52570, 41535)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
N              120 non-null object
level          119 non-null object
district       119 non-null object
province       119 non-null object
schools_16     120 non-null int64
pupils_2016    120 non-null int64
schools_17     120 non-null int64
pupils_17      120 non-null int64
dtypes: int64(4), object(4)
memory usage: 7.6+ KB