# Schools Analytics

This analysis is based on data collected from education statistics published by the ministry of education in Rwanda each year. <br> The data used today was taken from Rwanda Education Statistics, published yearly by MINEDUC. <br>
This data was collected from 2016 and 2017 publications. 
Data wrangling for this dataset has been done as part of another project. which was undocumented.

### Dataset description

the dataset has the following features: 
* Level: describe the type of school. unique values are Nursery , Primary, secondary and TVET 1&2
* district, its describe the number of schools, pupils, level for the given district
* province: the province the district belongs to
* schools_16 : describe the number of schools in a particular level in the given district in 2016
* pupils_16: describe the number of pupils in a given level for a district in 2016
* schools_17 : describe the number of schools in a particular level in the given district in 2017
* pupils_17: describe the number of pupils in a given level for a district in 2017

###  Analysis Questions

1. Rank provinces by the numbers of schools in 2016, which provinces had the most schools in 2016? 
2. Was the tendency the same in 2017? which provinces had the most changes? either in number of schools or number of pupils? 
3. which district has the most nursery schools?
4. which district has the most primary schools?
5. which district has the most secondary schools?
6. which district has the most  TVET schools? 
7. which district has the most students?  (selector for level and district)
8. what is the distribution of Nursery schools on map? (drop down for levels)

### Imports

In [42]:
import pandas as pd
import seaborn as sb
import plotly.graph_objs as go
import plotly.offline as pyo
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

### Importing Data

In [43]:
df = pd.read_csv('schools1617.csv')
df.tail()

      N    level    district province  pupils  schools  year
233 NaN  TVET1&2     Musanze    north      79        9  2017
234 NaN  TVET1&2     Rulindo    north      57        6  2017
235 NaN  TVET1&2      Gasabo   kigali     126       11  2017
236 NaN  TVET1&2    Kicukiro   kigali     192       16  2017
237 NaN  TVET1&2  Nyarugenge   kigali      90        7  2017

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 7 columns):
N           119 non-null float64
level       238 non-null object
district    238 non-null object
province    238 non-null object
pupils      238 non-null int64
schools     238 non-null int64
year        238 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 13.1+ KB

In [45]:
df.level.unique()

array(['nursery', 'primary', 'secondary School', 'TVET1&2'], dtype=object)

### Grouping Data by Provinces

#### South Province

In [46]:
south_df = df.query('province=="south"')
south_df.sample()

       N    level district province  pupils  schools  year
34  35.0  primary   Nyanza    south   78846       82  2016

#### North Province

In [47]:
north_df = df.query('province=="north"')
north_df.sample()

       N    level district province  pupils  schools  year
25  26.0  nursery  Musanze    north    7761      122  2016

#### East Province

In [48]:
east_df = df.query('province=="east"')
east_df.sample()

      N             level district province  pupils  schools  year
195 NaN  secondary School  Kayonza     east   17814       47  2017

#### West Province

In [49]:
west_df = df.query('province=="west"')
west_df.sample()

      N    level district province  pupils  schools  year
161 NaN  primary   Rusizi     west   95434      119  2017

#### Kigali City df

In [50]:
kigali_df = df.query('province=="kigali"')
kigali_df.sample()

      N             level  district province  pupils  schools  year
206 NaN  secondary School  Kicukiro   kigali   20046       42  2017

### Numbers of Schools By Provinces

In [51]:
south_df.head()

     N    level   district province  pupils  schools  year
0  1.0  nursery   Gisagara    south    2358       32  2016
1  2.0  nursery       Huye    south    6067      101  2016
2  3.0  nursery    Kamonyi    south    5389       75  2016
3  4.0  nursery    Muhanga    south    7009      114  2016
4  5.0  nursery  Nyamagabe    south    5975       78  2016

### Number of schools and Pupils (2016 and 2017)- South Province

In [52]:
south_pupils_17 = south_df['pupils_17'].sum()
south_pupils_16 = south_df['pupils_2016'].sum()
south_schools_16 = south_df['schools_16'].sum()
south_schools_17 = south_df['schools_17'].sum()
## sectionning data for levels

KeyError: 'pupils_17'

### Number of Schools and pupils (2016 and 2017) - North Province

In [ ]:
north_pupils_17 = north_df['pupils_17'].sum()
north_pupils_16 = north_df['pupils_2016'].sum()
north_schools_16 = north_df['schools_16'].sum()
north_schools_17 = north_df['schools_17'].sum()
north_pupils_17, north_pupils_16, north_schools_16, north_schools_17

### Number of Schools and Pupils (2016 and 2017)- East Province

In [ ]:
east_pupils_17 = east_df['pupils_17'].sum()
east_pupils_16 = east_df['pupils_2016'].sum()
east_schools_16 = east_df['schools_16'].sum()
east_schools_17 = east_df['schools_17'].sum()
east_pupils_17, east_pupils_16, east_schools_16, east_schools_17

### Number of Schools and Pupils (2016 and 2017) - West Province

In [ ]:
west_pupils_17 = west_df['pupils_17'].sum()
west_pupils_16 = west_df['pupils_2016'].sum()
west_schools_16 = west_df['schools_16'].sum()
west_schools_17 = west_df['schools_17'].sum()
west_pupils_17, west_pupils_16, west_schools_16, west_schools_17

### Numbers of Schools and Pupils (2016 and 2017) - Kigali City

In [ ]:
kigali_pupils_17 = west_df['pupils_17'].sum()
west_pupils_16 = west_df['pupils_2016'].sum()
west_schools_16 = west_df['schools_16'].sum()
west_schools_17 = west_df['schools_17'].sum()
west_pupils_17, west_pupils_16, west_schools_16, west_schools_17

In [ ]:
south_nursery_df = south_df.query('level=="Nursery"')
south_nursery_df

### Numbers of Schools by Provinces

In [ ]:
# import plotly.offline as pyo
# import plotly.graph_objs as go

# df = pd.read_csv('2018WinterOlympics.csv')

# print(df.head())

# trace1 = go.Bar(x=df['NOC'], y=df['Gold'],
#                 name='Gold', marker={'color': '#FFD700'})

# trace2 = go.Bar(x=df['NOC'], y=df['Silver'],
#                 name='Silver', marker={'color': '#9EA0A1'})

# trace3 = go.Bar(x=df['NOC'], y=df['Bronze'],
#                 name='Bronze', marker={'color': '#CD7F32'})

# data = [trace1, trace2, trace3]

# layout = go.Layout(title='Medals', barmode='stack')
# fig=go.Figure(data=data, layout=layout)
# pyo.plot(fig)

In [53]:
import plotly.offline as pyo
import plotly.graph_objs as go


west_pupils_17, west_pupils_16, west_schools_16, west_schools_17
east_pupils_17, east_pupils_16, east_schools_16, east_schools_17
north_pupils_17, north_pupils_16, north_schools_16, north_schools_17
south_pupils_17, south_pupils_16, south_schools_16, south_schools_17

y = [south_schools_17, north_schools_17, east_schools_17, west_schools_17, kigali_df['schools_17'].sum()]
y_nursery = [south_df['level == "nursery"']]
y_primary = []
y_secondary
y_TVET


south_schools_17


trace1 = go.Bar(x= df['province'].unique(), y= y,
                name='Gold', marker={'color': '#FFD700'})

#trace2 = go.Bar(x=df['province'].unique(), y=)

data = [trace1]

layout = go.Layout(title='Numbers of Schools By Provinces (2017)', barmode='stack')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

KeyError: 'schools_17'